{% extends 'base.html.twig' %}

{% block title %}Thibault JACQUET | Développeur WEB{% endblock %}


{% block body %}
    <header>
        <div class="header-content">
            <img id="profile_picture" src="{{ asset('img/profil_picture.png') }}" alt="profil_picture">
            <nav>
                <a href="#show" onclick="scrollToSection('show'); return false;" class="frame"><h3>Acceuil</h3></a>
                <a href="#travel" onclick="scrollToSection('travel'); return false;"><h3>Parcours</h3></a>
                <div class="separator"></div>
                <a href="#skills" onclick="scrollToSection('skills'); return false;"><h3>Skills</h3></a>
                <div class="separator"></div>
                <a href="#portfolio" onclick="scrollToSection('portfolio'); return false;"><h3>Portfolio</h3></a>
                <div class="separator"></div>
                <a href="#contact" onclick="scrollToSection('contact'); return false;"><h3>Contact</h3></a>
            </nav>
        </div>
    </header>
    <section class="show" id="show">
        <h1>Thibault JACQUET</h1>
        <h2>DEVELOPPEUR WEB - WEB MOBILE</h2>
    </section>
    <div class="travel" id="travel">
        <h2>Mon parcours</h2>
        <h3>Un parcours assez atypique mais riche en experiences !</h3>
        <div class="travel-container">
            <img src="{{ asset('img/travel_picture.jpg') }}" alt="travel_picture">
            <div class="text">
                <p>Ma passion pour le sport, la résolution de problèmes et les technologies du numérique m'a menée en
                    licence
                    d’ergonomie. J'y ai découvert la motion capture et la programmation scientifique.</p>
                <p> Après plusieurs années dans le commerce, c'est cet appétit pour la résolution de problèmes qui m’a
                    poussé vers le développement. Dans le cadre d'une reconversion professionnelle, je suis le cursus
                    menant au diplôme de Développeur Web et Web mobile.</p>
            </div>
        </div>
    </div>
    <div class="skills" id="skills">
        <h2>Skills</h2>
        <div class="skills-container">
            <div class="sticks">
                <H4>BACK-END</H4>
                <h5>PHP</h5>
                <div class="prog prog-55">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h5>SYMFONY</h5>
                <div class="prog prog-70">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h5>JAVA</h5>
                <div class="prog prog-55">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h5>MYSQL</h5>
                <div class="prog prog-40">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h4>FRONT-END</h4>
                <h5>HTML</h5>
                <div class="prog prog-70">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h5>CSS</h5>
                <div class="prog prog-70">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h5>JAVASCRIPT</h5>
                <div class="prog prog-55">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h4>TOOLS</h4>
                <h5>VSCODE</h5>
                <div class="prog prog-70">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h5>PHP STORM</h5>
                <div class="prog prog-70">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h5>ECLIPSE</h5>
                <div class="prog prog-55">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h5>GITHUB</h5>
                <div class="prog prog-55">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h4>DEVOPS</h4>
                <h5>NGINX</h5>
                <div class="prog prog-30">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
                <h5>LINUX</h5>
                <div class="prog prog-30">
                    <div class="dark-bar"></div>
                    <div class="dot"></div>
                </div>
            </div>
            <div class="cv">
                <img src="{{ asset('img/thibault_jacquet.png') }}" alt="cv">
            </div>
        </div>
    </div>
    <div class="portfolio" id="portfolio">
        <h2>Portfolio</h2>
        <div class="portfolio-container">
            <h3>Quelques-unes de mes realisations</h3>
            <div class="projects">
                <div id="prev"><i class="fa-solid fa-chevron-left"></i></div>
                <div class="achievements ">
                    <div class="project">
                        <div class="illustration">
                            <img src="{{ asset('img/screenshot_portfolio.PNG') }}" alt="cv">
                            <div class="overlay" id="overlay">
                                <p>Realisation d'une application portfolio avec Symfony</p>
                                <p>Deployee avec NGINX</p>
                            </div>
                        </div>
                    </div>
                    <div class="project">
                        <div class="illustration">
                            <img src="{{ asset('img/screenshot_cv1.PNG') }}" alt="cv">
                            <div class="overlay" id="overlay">
                                <p>Realisation d'un cv en ligne (page statique)</p>
                                <p>HTML 5</p>
                                <P>CSS 3</P>
                            </div>
                        </div>
                    </div>
                    <div class="project ">
                        <div class="illustration">
                            <img src="{{ asset('img/screenshot_events.PNG') }}" alt="cv">
                            <div class="overlay" id="overlay">
                                <p>Realisation d'une application de gestion d'evenements</p>
                                <p>SYMFONY</p>
                                <p>MYSQL</p>
                            </div>
                        </div>
                    </div>
                    <div class="project ">
                        <div class="illustration">
                            <img src="{{ asset('img/screenshot_encheres.PNG') }}" alt="cv">
                            <div class="overlay" id="overlay">
                                <p>Realisation d'une application d'encheres</p>
                                <p>JAVA EE</p>
                                <p>MARIA DB</p>
                            </div>
                        </div>
                    </div>
                    <div class="project ">
                        <div class="illustration">
                            <img src="{{ asset('img/screenshot_articles.PNG') }}" alt="cv">
                            <div class="overlay" id="overlay">
                                <p>Realisation d'une application de gestion d'article</p>
                                <p>SYMFONY</p>
                                <P>MYSQL</P>
                            </div>
                        </div>
                    </div>
                    <div class="project ">
                        <div class="illustration">
                            <img src="{{ asset('img/screenshot_gazette.PNG') }}" alt="cv">
                            <div class="overlay" id="overlay">
                                <p>Realisation d'une maquette de site de contenu educatif</p>
                                <p>HTML 5</p>
                                <p>CSS 3</p>
                            </div>
                        </div>
                    </div>
                    <div class="project ">
                        <div class="illustration">
                            <img src="{{ asset('img/screenshot_silex.PNG') }}" alt="cv">
                            <div class="overlay" id="overlay">
                                <p>Realisation d'une maquette de site vitrine</p>
                                <p>HTML 5</p>
                                <p>CSS 3</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="next"><i class="fa-solid fa-chevron-right"></i></div>
            </div>
        </div>
    </div>
    <div class="contact" id="contact">
        <h2>Contact</h2>
        <div class="contact-container">
            <div class="form">
                <h3>Formulaire de contact</h3>
                {{ form_start(form) }}
                <div class="form-row">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                {{ form_errors(form.name) }}
                <div class="form-row">
                    {{ form_label(form.firstname) }}
                    {{ form_widget(form.firstname) }}
                </div>
                {{ form_errors(form.firstname) }}
                <div class="form-row">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>
                {{ form_errors(form.email) }}
                <div class="form-row">
                    {{ form_label(form.telephone) }}
                    {{ form_widget(form.telephone) }}
                </div>
                {{ form_errors(form.telephone) }}
                <div class="form-row">
                    {{ form_label(form.object) }}
                    {{ form_widget(form.object) }}
                </div>
                {{ form_errors(form.object) }}
                <div class="msg">
                    {{ form_widget(form.message) }}
                </div>
                {{ form_errors(form.message) }}
                <div class="btn">
                    <button class="btn-primary" type="submit">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
            <div class="data">
                <h5>tjacquet53@gmail.com</h5>
                <h5>73260 Les Avanchers-Valmorel</h5>
            </div>
        </div>
        <footer>
            <h4>Copyright All Right Reserved 2018 <strong>Thibault JACQUET</strong></h4>
        </footer>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        function scrollToSection(id) {
            let section = document.getElementById(id);
            section.scrollIntoView({behavior: "smooth"});
        }

        document.addEventListener('scroll', function () {
            let header = document.getElementsByClassName('header-content')[0];
            let profilePicture = document.getElementById('profile_picture');

            if (window.scrollY > 50) {
                profilePicture.style.display = 'none';
                header.style.justifyContent = 'center';
            } else {
                profilePicture.style.display = 'block';
                header.style.justifyContent = 'space-between';
            }
        });

        let projectContainer = document.querySelector('.achievements');
        let projects = document.querySelectorAll('.project');
        let currentIndex = 0;

        projects[currentIndex].classList.add('active');

        // Fonction pour passer au projet suivant
        function nextProject() {
            projects[currentIndex].classList.remove('active');
            currentIndex = (currentIndex + 1) % projects.length;
            projects[currentIndex].classList.add('active');
            updateTransform();
        }

        // Fonction pour passer au projet précédent
        function prevProject() {
            projects[currentIndex].classList.remove('active');
            currentIndex = (currentIndex - 1 + projects.length) % projects.length;
            projects[currentIndex].classList.add('active');
            updateTransform();
        }

        // Fonction pour mettre à jour la transformation de projectContainer
        function updateTransform() {
            // let project = document.querySelector('.active');
            // let transformValue = -currentIndex * 10 + 'rem';
            // project.style.transform = 'translateX(' + transformValue + ')';
        }

        // Ajoutez des écouteurs d'événements pour les contrôles de carrousel
        document.getElementById('prev').addEventListener('click', prevProject);
        document.getElementById('next').addEventListener('click', nextProject);
    </script>
{% endblock %}
