<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email de contact</title>
</head>
<body>
{% apply inline_css(asset ('styles/emailContact.css')) %}
    <div class="container">
        <h1>Mail de contact</h1>
        <h2>Envoye le {{ date | date('Y-m-d H:i')}}</h2>
        <h2>Nom : {{ name }}</h2>
        <h2>Prenom : {{ firstname }}</h2>
        <h2>Email : {{ emailContact }}</h2>
        <p>Telephone : {{ telephone }}</p>
        <p>Message : {{ message }}</p>
    </div>
{% endapply %}
</body>
</html>